body{
  background-color: gray;
  /* background: #676f74; */
}
#inscription{
    width:400px;
    margin:0 auto;
    margin-top:10%;
}

form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#inscription h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #a7b8b6;
    color: white;
    padding: 15px 15px; 
    margin: 1px 50px 560px 20px;
    width: 100%;
}

#a{
    color: #0c6075;
    background-color: #68c0d6;
    mask-repeat:no-repeat;
}

#inscrire {
    border: 3px solid #000000;
}