@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
  margin:0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  /* background-color: rgb(148, 139, 127); */
  background-color: gray;
}


nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 35px;
  background-color: rgb(0, 0, 0);
  position: sticky;
  top: 0;
  z-index: 50;
}

nav a {
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
}


h1{
    text-shadow:#e7f6ff 0 2px 0,
#707557 1px 1px 0,
#941616 4px 2px 0,
#807c78 3px 3px 0,
#777777 7px 4px 0,
#f30909 5px 5px 0,
#333 5px 5px 10px;color:#F30034;;   
}
nav .onglets{
  display: flex;
  flex-wrap:wrap;
}
nav .onglets a{
  font-size: 20px;
  margin-right: 20px;
  cursor:pointer;
}
nav .onglets input{
  margin: 8px 20px;
  padding: -50px;
  border-radius: 30px;
  border:none;
  background-color: #f2f2f2;
  outline:none;
}

header{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}
header h1{
  font-size: 50px;
  max-width: 500px;
  text-align:center;
}
header button{
  padding: 15px 20px;
  font-size: 20px;
  border:none;
  border-radius: 5px;
  outline:none;
  cursor:pointer;
}

.menu {
  margin-top: -100px;
}

.menu .contenu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.menu .contenu .box {
  width: 1000px;
  height: 500px;
  margin-top: 100px;
  border: 15px solid rgb(0, 0, 0);
  /* box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.8);
  background-color: rgb(255, 255, 255);
  border-block-color: rgb(0, 0, 0);
  border-radius: black; */

}

/* .menu .contenu .box .imbox {
  position: relative;
  width: 100%;
  height: 20px;
  width: 550px;
} */

.menu .contenu .box .imbox img {
  position: relative;
  width: 1000px;
  height: 500px;
  padding-block: 0px;
}

.menu .contenu .box .imbox .text {
  text-align: center;
  font-weight: 30px;
  color: #111;
}

.menu .contenu .box .imbox .text h3 {
  font-weight: 400;
}


.menu .video{
  margin-top: 80px;
  width: 90%;
}
.menu .video iframe{
  border:none;
  border-radius: 10px;
  width: 100%;
  height: 400px;
}

footer {
  margin-top: 100px;
  background-color: #000;
  padding: 30px;
  color: #fff;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
footer .social-media{
  display: flex;
}
footer .social-media p{
  margin-right: 15px;
  border: 1px solid #fff;
  border-radius: 100%;
  padding: 5px;
  text-align:center;
  width: 20px;
  cursor:pointer;
}


@media screen and (max-width: 640px){
  nav .onglets .link, nav h1{
    display:none;
  }
  .cards .card img{
    width: 300px;
  }
}

div .onglets {
  margin: -50px;
}