body{
background-color: rgb(82, 88, 88);
}


nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px;
  background-color: rgb(0, 0, 0);
  position: sticky;
  top: 0;
  z-index: 50;
}

nav a {
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
}

  #table {
    margin-top: 150px;
    margin-left: 450px;
    align-content: center;
}


footer {
  margin-top: 500px;
  background-color: #000;
  padding: 20px;
  color: #fff;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
footer .social-media{
  display: flex;
}
footer .social-media p{
  margin-right: 25px;
  border: 1px solid #fff;
  border-radius: 100%;
  padding: 5px;
  text-align:center;
  width: 30px;
  cursor:pointer;
}


@media screen and (max-width: 640px){
  nav .onglets .link, nav h1{
    display:none;
  }
  .cards .card img{
    width: 300px;
  }
}
