body {
  color: #fff;
  background-color: #f0f0f0;
  font-family: helvetica;
  /* background-color: #5c5c5c; */
  background-color: gray;

}

h1 {
  font-weight: normal;
  display: block;
  text-align: center;
}

#connexion {
  text-align: center;
  margin-top: 50px;
  border: 3px solid #000000;
}

#email {
  border: 3px solid #000000;
}

#pwd {
border: 3px solid #000000;
}

.contenu {
  position: relative;
  top: 20px;
  height: 700px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  background: transparent;
}

.contenu .box {
  position: relative;
  top: 20%;
  height: 30%;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border: 8px solid #000000;
}

#inscrire {
  top: 15%;
  height: 50%;
  position: relative;
}

