body {
    background-color: gray;
}

#table {
    margin-top: 35px;
    margin-left: 550px;
    align-content: center;
}

#ul {
    margin-top: 10px;
    margin-left: 550px;
    align-content: center;
}

#form {
    margin-top: 2px;
    margin-left: 560px;
    align-content: center;
}

