body{
    margin:0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    /* background-color: rgb(148, 139, 127); */
    background-color: gray;
  }
  

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 45px;
    margin-top: 0;
    background-color: rgb(0, 0, 0);
    position: sticky;
    top: 0;
    z-index: 50;
  }
  
  nav a {
    font-size: 20px;
    margin-right: 20px;
    cursor: pointer;
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;
  }

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(132, 118, 118);
    padding: 40px
}


.h3 {
    text-decoration-color: #000;
}


section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #8a8a8a;
    overflow: hidden;
    padding: 100px 20px;
    box-sizing: border-box;
}

section ::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: gray;
    clip-path: circle(5% at 10% -20%);
}

section ::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(25% at 0% 10%);

}

.container {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container .card {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(10, 9, 9);
    box-shadow: 10px 10px 25px rgba(65, 64, 64, 0.701);
    border: 15px solid rgb(255, 255, 255);
    backdrop-filter: blur(55px);
    border-block-color: solid rgb(39, 38, 38);
}

.container .card .imgbox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 53px;
    transition: 0.5s ease-in-out;
}

.container .card:hover .imgbox {
    transform: translate(54px);
}

.container .card .imgbox img {
    max-width: 100%;
    margin: 0 0 0px;
    transition: 0.5s ease-in-out;
}

.container .card .imgbox h2 {
    color: #fff;
    font-weight: 60px;
}

.container .card .content {
    position: absolute;
    bottom: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.container .card:hover .content {
    opacity: 1;
    visibility: visible;
    transform: translate(-50px);
}

.container .card .content .price {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
    margin-bottom: -45px;
}


.container .card .content .price h3 {
    color: rgb(255, 255, 255);
    font-weight: 300px;
    font-size: 55px;
    padding: 1px 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.container .card .content button {
    position: relative;
    top: -10px;
    display: inline-block;
    background: #fff;
    border-radius: 40px;
    font-weight: 800;
    letter-spacing: 1px;
    color: #111;
    text-decoration: none;
}


footer {
    margin-top: 10px;
    background-color: #000;
    padding: 20px;
    color: #fff;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
  }
  footer .social-media{
    display: flex;
  }
  footer .social-media p{
    margin-right: 25px;
    border: 1px solid #fff;
    border-radius: 100%;
    padding: 5px;
    text-align:center;
    width: 30px;
    cursor:pointer;
  }
  
  
  @media screen and (max-width: 640px){
    nav .onglets .link, nav h1{
      display:none;
    }
    .cards .card img{
      width: 300px;
    }
  }